<figure class="screenshot" data-screenshot-id="{{assetId}}">
  <a class="screenshot__link" href="{{fullURL}}" data-lightbox-trigger data-gallery="{{gallery}}" data-caption="{{caption}}" aria-label="Open full-size image: {{alt}}">
    <picture>
      {{pictureSources}}
      <img src="{{fallbackURL}}" width="{{width}}" height="{{height}}" alt="{{alt}}" loading="{{loading}}">
    </picture>
    <span class="screenshot__zoom" aria-hidden="true">View</span>
  </a>
  <figcaption>{{caption}}</figcaption>
</figure>
